<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration | SimpleEcommerce</title>
    <style>
        section {
            flex: 1; /* Make sections equal width */
            padding: 20px;
        }

        .image-section {
            /* Styling for the section with the image */
        }

        .text-section {
            /* Styling for the section with the text and buttons */
        }
    </style>
</head>
<body>
<h1>Rocket Basket: Shop Fast, Ship Faster - Customer Registration</h1>

<form action="/registration/" method="post">
    {% csrf_token %} 
        <br>
        <br>
        <section class="text-section">
            <label for="fullname">Fullname</label>
            <input type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>
            <br>
            <br>
            <label for="contactno">ContactNo</label>
            <input type="text" id="contactno" name="contactno" placeholder="Enter your contact no." required>
            <br>
            <br>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="Enter your address" required>
            <br>
            <br>
        </section>
        <section class="image-section">
            <label for="id_username">Username</label>
            <input type="text" id="id_username" name="username" placeholder="Create username" required>
            <br>
            <br>
            <label for="id_password">Password</label>
            <input type="password" id="id_password" name="password" placeholder="Create a Password" required>
            <br>
            <br>
            <label for="confirm">Confirm your password</label>
            <input type="password" id="confirm" name="confirm" placeholder="Confirm your Password" required>
            <br>
            <br>
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="message {{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <button type="submit">Submit</button> <a class="button" href='{% url "index" %}'>Back</a>
            <p>Want to sell products? Register as a <a href="{% url 'sellerreg'%}">SELLER</a> instead.</p>
        </section>
    </form>


</body>
</html>