<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogInSystem_YTTutorial</title>
</head>
<body>
    <h3>Welcome to Simple E-commerce</h3>
    
    <button type="submit"> <a href="/signup">Sign Up</a></button>
    <button type="submit"> <a href="/signin">Sign In</a></button>
    <button type="submit"> <a href="/signout">Sign Out</a></button>
</body>
</html>