{% extends "index.html" %}

{% block content %}
    
    <form action="/signup/" method="post">
    {% csrf_token %}    
        <br>
        <br>
        <label for="id_username">Username</label>
        <input type="text" id="id_username" name="username" placeholder="Create username" required>
        <br>
        <br>
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
        <br>
        <br>
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>
        <br>
        <br>
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" placeholder="Enter your email address" required>
        <br>
        <br>
        <label for="id_password">Password</label>
        <input type="password" id="id_password" name="password" placeholder="Create a Password" required>
        <br>
        <br>
        <label for="confirm">Confirm your password</label>
        <input type="password" id="confirm" name="confirm" placeholder="Confirm your Password" required>
        <br>
        <br>
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
        <button type="submit">Register</button> <a class="button" href='{% url "index" %}'>Back</a>
    
    </form>
{% endblock %}

